<!DOCTYPE html>
<html lang="en">
  {{ head }}

  <body>
    
  {{ header }}
  {{ sidebar }}
    

      <div class="gallery">
        <div class="articleContainer">
          <article>
            <h2>About me</h2>
            <p>
              I daydream of being a photographer while trying not to fail my PhD.<br> Bulgarian, living in Bristol, UK.<br><br>

              My life summed up in one sentence:
              <blockquote>
                <p>I knew exactly what to do. But in a much more real sense,
                  I had no idea what to do.
                </p>
                <footer>—Michael Scott, <cite>The Office</cite></footer>
              </blockquote><br>
              
              You can email me on <a class="email">contact@wandering-nonsense.com</a>
              
              
            </p>
          </article>
        </div>
      </div>

  <script async="async" data-goatcounter="https://kappa.goatcounter.com/count" src="//gc.zgo.at/count.js"></script>    
  </body>
</html>
