<!DOCTYPE html>
<html lang="en">
  {{ head }}

  <body>
    
  {{ header }}
  {{ sidebar }}
    

      <div class="gallery">
          <div id="container" style="position:relative;">
            <h2 style="position:relative;"><a href="https://www.etsy.com/uk/WanderingNonsense/listing/1490828868/somethings-out-there-photography-zine?utm_source=Copy&utm_medium=ListingManager&utm_campaign=Share&utm_term=so.lmsm&share_time=1687436693896">Check out my zine on etsy!</a></h2>
            <p><a href="https://www.etsy.com/uk/WanderingNonsense/listing/1490828868/somethings-out-there-photography-zine?utm_source=Copy&utm_medium=ListingManager&utm_campaign=Share&utm_term=so.lmsm&share_time=1687436693896">
              <img src="photos/zine_preview/zine-cover.jpg"></src>
            </a></p>    
          </div>
      </div>

  </body>
</html>
